@import "tailwindcss";

/*
Fonts | Asap - Maven_Pro - Inconsolata
*/

body {
  font-family: 'Asap', 'Maven Pro', 'Inconsolata';
}

button {
  outline: none;
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {

  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

/* 

HTML: <div class="loader"></div> 

#ffa516 green coral

*/

:root {
  --color1: #ffa516;
  --color2: green;
  --color3: coral;
}

.loader {
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side, var(--color1) 90%, #0000) center/16px 16px,
    radial-gradient(farthest-side, var(--color2) 90%, #0000) bottom/12px 12px;
  background-repeat: no-repeat;
  animation: l17 1s infinite linear;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  inset: auto 0 16px;
  margin: auto;
  background: var(--color3);
  border-radius: 50%;
  transform-origin: 50% calc(100% + 10px);
  animation: inherit;
  animation-duration: 0.5s;
}

@keyframes l17 {
  100% {
    transform: rotate(1turn)
  }
}