@import "tailwindcss";

/*
Fonts | Asap - Maven_Pro - Inconsolata
*/

body {
  font-family: 'Asap', 'Maven Pro', 'Inconsolata';
}

button {
  outline: none;
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {

  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

/* <div class="loader"></div> */
/* .loader {
  width: 70px;
  height: 40px;
  outline: 2px solid #00B8DB;
  background:
    radial-gradient(farthest-side, white 90%, #0000) 0 0/8px 8px no-repeat,
    linear-gradient(#00B8DB 0 0) 50%/10px 100% no-repeat,
    conic-gradient(from 90deg at 10px 10px, #0000 90deg, #00B8DB 0),
    conic-gradient(from -90deg at 60px 30px, #0000 90deg, #00B8DB 0);
  animation: l4 2s infinite;
}

@keyframes l4 {
  0% {
    background-position: 0 0, 50%;
    clip-path: circle(15px at left 4px top 4px)
  }

  12.5% {
    background-position: 50% 0, 50%;
    clip-path: circle(15px at left 50% top 4px)
  }

  25% {
    background-position: 50% 100%, 50%;
    clip-path: circle(15px at left 50% bottom 4px)
  }

  37.5% {
    background-position: 100% 100%, 50%;
    clip-path: circle(15px at right 4px bottom 4px)
  }

  50% {
    background-position: 100% 0, 50%;
    clip-path: circle(15px at right 4px top 4px)
  }

  62.5% {
    background-position: 50% 0, 50%;
    clip-path: circle(15px at right 50% top 4px)
  }

  75% {
    background-position: 50% 100%, 50%;
    clip-path: circle(15px at right 50% bottom 4px)
  }

  82.5% {
    background-position: 0 100%, 50%;
    clip-path: circle(15px at left 4px bottom 4px)
  }

  100% {
    background-position: 0 0, 50%;
    clip-path: circle(15px at left 4px top 4px)
  }
} */



/* HTML: <div class="loader"></div> 

#ffa516 green coral
*/

:root {
  --color1: #ffa516;
  --color2: green;
  --color3: coral;
}

.loader {
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side, var(--color1) 90%, #0000) center/16px 16px,
    radial-gradient(farthest-side, var(--color2) 90%, #0000) bottom/12px 12px;
  background-repeat: no-repeat;
  animation: l17 1s infinite linear;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  inset: auto 0 16px;
  margin: auto;
  background: var(--color3);
  border-radius: 50%;
  transform-origin: 50% calc(100% + 10px);
  animation: inherit;
  animation-duration: 0.5s;
}

@keyframes l17 {
  100% {
    transform: rotate(1turn)
  }
}